extends ../layout.jade

block content
  h1=player.name
  h2=player.team.name

  ul
    li=stats.career.goalsPerPoss + ' goals per possession'
    li=stats.career.assistsPerPoss + ' assists per possession'
    li=stats.career.hockeyAssistsPerPoss + ' hockey assists per possession'
    li=stats.career.blocksPerPoss + ' blocks per opponent possession'
    li=stats.career.touchesPerPoss + ' touches per possession'
    li=stats.career.touchesPerPossPercentile + ' percentile'
    li=stats.career.offensivePointsPlayed + ' offensive points played'
    li=stats.career.defensivePointsPlayed + ' defensive points played'
    li=stats.career.touches + ' touches'
  .week-chart

block script
  script.
    var map = function(array, func) {
      var result = [];
      for (var i = 0; i < array.length; i++) {
        result.push(func(array[i]));
      }
      return result;
    };
    var data = {
      labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      series: [
        map(stats.weeks, function(elem) { return elem.goals; }).slice(0, 5)
      ]
    };
    var options = {
      fullWidth: true,
      chartPadding: {
        right: 40
      }
    };
    new Chartist.Line('.week-chart', data, options);
