<p>His name is <%= player.name %> and he plays for <%= player.team.name %>.</p>

<ul>
<% for(var i = 0; i<player.performances.length; i++) { %>
  <li><%= player.performances[i].goals %> goals and <%= player.performances[i].assists %> assists playing for <%= player.performances[i].team %></li>
<% } %>
</ul>
